body {
  font-family: helvetica;
  text-align: center;
  font-weight: bold;
}

/* MainTitleStyle */

#maintitle {
  color: white;
  background-image: url("../images/building.png");
  background-repeat: no-repeat;
}

.headertitle {
  font-size: 70px;
}

.titlelinks a{
  font-size: 18px;
  color: white;
  background-color: inherit;
}

/* Process Style */

.process {
  font-size: 32px;
}

.description {
  font-size: 14px;
}

h3 {
  font-size: 32px;
}

h5 {
  font-size: 23px;
}

.newyorksection {
  font-size: 23px;
  color: white;
  background-image: url("../images/building.png")

}

.footer p,a{
  font-size: 11px;
  background-color: dimgray;
  color: white;
  text-align: left;
}
